html, body {
    margin: 0;
    height: 100%;
  }
  body {
    display: flex;
    flex-flow: row nowrap;
  }
  .sidebar {
    width: 25%;
    background: #777;
  }
  #content {
    flex-grow: 1;
    background: #000;
  }
  #right {
    transition: ease-in-out 0.5s;
    width: 25%;
  }
  .hidden {
    // display :none;
    width: 0;
  }
